/* /**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
} 

/* cart badge */

.cart-badge,
.cart-badge:hover {
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-style: italic;
  background: #000;
}
/**
 * single product page - product name
 */

.name {
  background: lightgreen;
  color: #000;
  font-weight: bold;
}

/* black shade form 10-1 */
/* .black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
} */

/**
 * product image on card
 */

/* .product-img {
  min-height: 100px;
}

.jumbotron h2 {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
} */

/**
 * jumbotron animation
 */

/* .jumbotron {
  height: 180px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */ */

/* NEW */

* {
  margin: 0px;
  padding: 0px;
  
}
.container1 {
  width: 90%;
  margin: 0 auto;
}
.navbar1 {
  width: 100%;
  overflow: hidden;
  height: 70px;
  line-height: 70px;
  background: #fff;
  border-bottom: 2px solid green;
}
.logo1 {
  width: 60px;
  float: left;
}
.menu1 {
  float: right;
}

.menu1 li {
  float: left;
  width: 120px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  list-style-type: none;
}

.menu1 li .link1 {
  color: #000;
  text-decoration: none;
  font-family: calibri;
  text-transform: uppercase;
  display: block;
}

.menu1 li:hover {
  background: green;
}

/* ABOUT SECTION */

.about-section{
  width: 100%;
  background: #f1f1f1;
  padding: 40px 0;
  margin-bottom: 5px;
}

.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}

.about-section h1{
  text-align: center;
}

.border{
  width: 100px;
  height: 3px;
  background: green;
  margin: 20px auto;
}

.about a{
  display: inline-block;
  color: green;
  text-decoration: none;
  border: 2px solid green;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}

.about a:hover{
  color: #fff;
  background: green;
}

/* ABOUT END */

/* Footer Start */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.footer-logo{
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 15px;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Footer End */

/* Card Start */

.viewProduct{
  background-color: #00AE68;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.viewProduct:hover{
  background-color: #21825B;
}

.addCart{
  background-color: #FFAA40;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addCart:hover{
  background-color: #FF8E00;
}

/* Card End */

/* Hero Section */

header{
  background-image: url(./images/bgnew1edit.gif);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.title{
  position: absolute;
  top: 60%;
  right: 20%;
  /* transform: translate(-50%,-50%); */
}

.title h1{
  color: #fff;
  font-size: 70px;
}
.title p{
  color: #d6efc7;
  font-size: 22px;
}
.tagName{
  color: #d6efc7;
}

/* End Hero Section */